ul.goriz {

    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 98%;

            }

ul.goriz li {

        display: block;
        float: left;
        padding: 0 10px;
            
            }

.qe {

    width: 40%;
    float: left;

}

.qe1 {

    width: 60%;
    float:right;

        }

.container:after {

    content: "";
    display: table;
    clear: both;

                    }

.container {

    width: 100%;
    max-width: 98%;
    padding: 15px;
    margin: 0 auto;

            }

nav a {

    text-decoration: none;
    line-height: 38px;

        }

.col-1{

    width: 20%;
    float: left;
    list-style: none;
    list-style: none;
    
            }

.col-2 {

    width: 80%;
    float: right;

            }


.container:after, .row:after {

    content: "";
    display: table;
    clear: both;

                                }

.row {

    margin-bottom: 15px;

        }

#header {
    background-color: green;
}

body {

background-color:aqua;

}

.leftimg {

    float:left;
    margin: 7px 7px 7px 7px;
           
        }


#n1 {

    transform: scale(0.9);
    transition: 1s all;
    background-color: #fff;
    color: #000000;
    padding: 10px;
    margin: 10px;
    border: 3px solid #d85346;
    border-radius: 10px;
    opacity: 0.5;
    box-shadow: 5px 5px 10px #fff;
    display: block;
    
    }

    #n1:hover {

    transform: rotate(720deg) scale(0.5)
    
    }

#n2 {

    transform: scale(0.9);
    transition: 1s all;
    background-color: #fff;
    color: #000000;
    padding: 10px;
    margin: 10px;
    border: 3px solid #d85346;
    border-radius: 10px;
    opacity: 0.5;
    box-shadow: 5px 5px 10px #fff;
    display: inline-block;
    
    }

    #n2:hover {

    transform: rotate(720deg) scale(0.5)
    
    }

#n3 {

    transform: scale(0.9);
    transition: 1s all;
    background-color: #fff;
    color: #000000;
    padding: 10px;
    margin: 10px;
    border: 3px solid #d85346;
    border-radius: 10px;
    opacity: 0.5;
    box-shadow: 5px 5px 10px #fff;
    display: block;

    }

    #n3:hover {

    transform: rotate(720deg) scale(0.5)
    
    }

#n4 {

    transform: scale(0.9);
    transition: 1s all;
    background-color: #fff;
    color: #000000;
    padding: 10px;
    margin: 10px;
    border: 3px solid #d85346;
    border-radius: 10px;
    opacity: 0.5;
    box-shadow: 5px 5px 10px #fff;
    display: block;

    }

    #n4:hover {

    transform: rotate(720deg) scale(0.5)

    }

#n5 {
    transform: scale(0.9);
    transition: 1s all;
    background-color: #fff;
    color: #000000;
    padding: 10px;
    margin: 10px;
    border: 3px solid #d85346;
    border-radius: 10px;
    opacity: 0.5;
    box-shadow: 5px 5px 10px #fff;
    display: block;
}

    #n5:hover {

    transform: rotate(720deg) scale(0.5)

    }

#n6 {
    transform: scale(0.9);
    transition: 1s all;
    background-color: #fff;
    color: #000000;
    padding: 10px;
    margin: 10px;
    border: 3px solid #d85346;
    border-radius: 10px;
    opacity: 0.5;
    box-shadow: 5px 5px 10px #fff;
    display: block;
    }

    #n6:hover {

    transform: rotate(720deg) scale(0.5)
    
    }

ol {

    list-style:none;

    }